.container {
  max-width: 1600px;
  margin: 0px auto;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 200px 1fr 200px;
 grid-template-areas:
"header header header"
"sidebar main main"
"footer footer footer";
  //grid-template-rows: 100px 1fr 100px;
}

h1,h2,h3 {
  margin: 10px;
  font-weight: 700;
  font-size: 24px;
}



.Header,.Main,.Sidebar,.Footer {
}
