* {
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  text-align: center;
  font-family: "Segoe UI", "Roboto Light","CaskaydiaCove NF";
  background-color: #112d49;
}
button {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  margin: 20px;
  border: 0;
}
h1  {
  font-size: 90px;
  margin-top: 20px;
}
