* {
  margin: 0;
  padding: 0;
}

body {
  padding: 50px;
  text-align: center;
  color: #fff;
  font-family: "Segoe UI", "Roboto Light","CaskaydiaCove NF";
  background-color: #112d49;
}
button {
  padding: 10px 20px;
}
input {
  padding: 10px 20px;
}
input:focus-within {
  outline: none;
}
h1 {
  margin-bottom: 50px;
}